{{>home}}





{{!-- <img <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBNo2Ht5eM9m4AqXIEBJwEPFU8yiQL81Uc",
    authDomain: "edubirdie-1534842942940.firebaseapp.com",
    databaseURL: "https://edubirdie-1534842942940.firebaseio.com",
    projectId: "edubirdie-1534842942940",
    storageBucket: "edubirdie-1534842942940.appspot.com",
    messagingSenderId: "1077918538165"
  };


  firebase.initializeApp(config);

  let db = firebase.firestore();
  var storage = firebase.storage();
</script>
--}}
<style>


  #comments {
    margin-top: 30px;
  }
</style>


<nav class="nav-extended teal z-depth-5 ">
    <div class="nav-wrapper ">
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
      <a id="logo" href="#" class="brand-logo">EduBirdy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/profile">Record Lesson<i class="material-icons right">camera</i></a></li>
        <li><a href="/authenticated/create/create_school">Create School<i class="material-icons left">add</i></a></li>
        <li><a class="btn" href="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="nav-content">
    </div>

  </nav>

<ul id="slide-out" class="sidenav">
    <li>
      <h5 class="teal-text center-align">EduBirdy</h5>
    </li>
    <li><a href="/home"><i class="material-icons left">home</i>Home</a></li>
    <li><a href="/profile"><i class="material-icons left">portrait</i>Profile</a></li>
    {{!--
    <li><a class="subheader">View Lessons</a></li>
    {{#each lessons}}
    <li><a href="/{{{BySchool}}}/{{{InClass}}}/{{{code}}}/view_lesson">{{{name}}}</a>
    <li>
      {{/each}} --}}
  </ul>

<p id="name" style="display: none">{{user_email}}</p>
{{#with data}}

<p id="code" style="display: none">{{{code}}}</p>
{{/with}}

{{#with data}}

<div class="show-on-large row">

<div id="video_info_player" class="col s8 ">



<video style="width: 100%" class="responsive-video" controls>
  <source src="{{{downloadURL}}}" type="video/mp4">
</video>


    
      <h5 class="center-align teal-text">{{{name}}}</h5>
      <span>By: {{{SchoolName}}}</span><br><br>
      <a href="{{{downloadURL}}}" class="blue-text light-3">{{{downloadURL}}}</a> <br>
      <span>{{{description}}}</span>
   
    {{/with}}
<ul id="comments" class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">comment</i>Comments</div>
    <div class="collapsible-body">

      <div class="input-field col s2">
        <i class="material-icons prefix">comment</i>
        <input id="comment_field" type="text" class="validate">


        <button id="addComment" class="btn teal wave-light">Submit</button>

      </div>
      <ul class="collection">
        {{#each comments}}
        <li class="collection-item">{{{comments_text}}}<br>{{{ByUser}}}</li>
        {{/each}}
      </ul>


    </div>
  </li>
</ul>
</div>

<div class="col s4">
  <ul class="collection z-depth-1">
    {{#each recommended_lessons}}
     <li id="video" class="collection-item avatar home-video">
        <video class="" style="width: 300px"class=" responsive-video" preload="metadata">
        <source src="{{{downloadURL}}}" type="video/mp4">
      </video>
      <br>
      <span class="title">{{{name}}}</span>
      <p>{{{uploaded_at}}} <br>
         
<a href="/{{{BySchool}}}/{{{InClass}}}/{{{code}}}/view_lesson"class="waves-effect waves-light btn">Watch</a>
      </p> 
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
      {{/each}}
  </ul>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script>
  var config = {
    apiKey: "AIzaSyBNo2Ht5eM9m4AqXIEBJwEPFU8yiQL81Uc",
    authDomain: "edubirdie-1534842942940.firebaseapp.com",
    databaseURL: "https://edubirdie-1534842942940.firebaseio.com",
    projectId: "edubirdie-1534842942940",
    storageBucket: "edubirdie-1534842942940.appspot.com",
    messagingSenderId: "1077918538165"
  };
  firebase.initializeApp(config);

  let db = firebase.firestore();

  document.getElementById('addComment').addEventListener('click', () => {
    let commentText = document.getElementById('comment_field').textContent;
    let text = "";
    let possible =
      "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"

    for (var i = 0; i < 10; i++) {
      text += possible.charAt(Math.floor(Math.random() * possible.length))
    }

    if (commentText != null) {
      db
        .collection('lesson_comments')
        .doc(text)
        .set({
          comments_text: document.getElementById('comment_field').value,
          ByUser: document.getElementById('name').textContent,
          on_lesson: document.getElementById('code').textContent,
          code: text
        }).then(function () {
          console.log("Successfully added comment!")
          M.toast({ html: 'Successfully added your comment!' })
          location.reload();
        }).catch(function (error) {
          M.toast({ html: 'There was an error adding your comment!' })
        });
    } else {
      console.log("Empty")
    }
  })

  $(document).ready(function () {
    $('.collapsible').collapsible();
  });

</script>



{{!-- Materialize functions --}}
<script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
 
</script>
</body>

</html>