{{>home}}


<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico');
#logo {
  font-family: 'Pacifico'
}

</style>
<body>
   <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">lessons</a></li>
  <li><a href="#!">schools</a></li>
  
</ul>
<nav>
  <div class="nav-wrapper teal">
    <a id="logo" href="#!" class="brand-logo">Edubirdy</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Home<i class="material-icons left">home</i></a></li>

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Filter<i class="material-icons right">filter_list</i></a></li>
    </ul>
  </div>
</nav>


        
  <nav>
    <div class="nav-wrapper teal">
      <form id="search_form" method="POST" action="/edubird/search">
        <div class="input-field">
          <input name="SearchBar" id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i> </label>
          <i class="material-icons">close</i>
         
        </div>
      </form>
    </div>
  </nav>


    <ul class="collection">
      {{#each schools}} 
        <li style="font-weight: bold;" class="black-text collection-item">{{{name}}}<br><a class="btn" href="/{{{secretSchoolCode}}}/join/school/">Join!</a></li>
        {{!-- Join School Button --}}
        
      {{/each}}
    </ul>

    <ul class="collection">
      {{!-- add in all successful searches --}}

      <h2 id="logo" class="center-align teal-text">Lessons </h2>
      {{#each lessons}}
      

      
    <li id="video" class="collection-item avatar home-video">
        <video class="" style="width: 300px"class=" responsive-video" preload="metadata">
        <source src="{{{downloadURL}}}" type="video/mp4">
      </video>
      <br>
      <span class="title">{{{name}}}</span>
      <p>{{{uploaded_at}}} <br>
         
<a href="/{{{BySchool}}}/{{{InClass}}}/{{{code}}}/view_lesson"class="waves-effect waves-light btn">Watch</a>
      </p> 
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
      {{else}}
        <h5 class="teal-text center-align">Search for lessons or schools...</h5>

      {{/each}}
    </ul>
            

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  //document.ready materialize javascript function
  $(document).ready(function() {
    $(".dropdown-trigger").dropdown();
  })
</script>
{{!-- Search box javascript query string --}}
<script>
  //console.log("hi")
  //console.log(window.location.href) 
 document.getElementById('search_form').onsubmit = function() {
   
   text = window.location.href + document.getElementById('search').value;
   console.log(text);
 }
</script>
</body>

</html>