{{> home}}



<body>
  
    
<style>
  
@import url('https://fonts.googleapis.com/css?family=Pacifico');
#logo {
  font-family: 'Pacifico'
}
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
</style>
 
 {{#if user}}
  <nav class="nav-extended teal">
    <div class="nav-wrapper ">
          <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
      <a id="logo" href="#" class="brand-logo">EduBirdy</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/profile">Record Lesson<i class="material-icons right">camera</i></a></li>
        <li><a href="/authenticated/create/create_school">Create School<i class="material-icons left">add</i></a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab col s3"><a class="active" href="#home"><i class="material-icons left">home</i>Home</a></li>
        <li class="tab col s3"><a  href="#search">Search<i class="material-icons left">search</i></a></li>
      </ul>
     
      
    </div>

  </nav>

     <ul id="slide-out" class="sidenav">
      <li><h5 class="teal-text center-align">EduBirdy</h5></li>
      <li><a href="/home"><i class="material-icons left">home</i>Home</a></li>
      <li><a href="/profile"><i class="material-icons left">portrait</i>Profile</a></li>
{{!--     
         <li><a class="subheader">View Lessons</a></li>
      {{#each lessons}}
          <li><a href="/{{{BySchool}}}/{{{InClass}}}/{{{code}}}/view_lesson">{{{name}}}</a><li>
      {{/each}} --}}
    </ul>
 
   
  
    
    
<div id="home">
 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h5 class="header teal-text">Newest Content: </h5>
      {{#each lessons}}
       <a href="/{{{BySchool}}}/{{{InClass}}}/{{{code}}}/view_lesson">
      <div id="show_video" class="hoverable waves-effect waves-teal z-depth-1">
     
      <video class="" style="width: 300px"class=" responsive-video" preload="metadata">
        <source src="{{{downloadURL}}}" type="video/mp4">
      </video>
     
    </a>
      <p class="bold">{{{name}}}<br></p>
      <small class="text-gray">by: {{{SchoolName}}} • {{{uploaded_at}}}</small>

      
   </div>
 
   
      {{/each}}
      <div class="row center">
        <h5 class="header col s12 light">Learning made easy.</h5>
      </div>
      <div class="row center">
      </div>
      <br><br>
        
    </div>
  </div>

</div>


<div id="search">
    <nav>
    <div class="nav-wrapper teal">
      <form action="/submit/search/:search" method="POST">
        <div class="input-field">
          <input name="search" id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  

  <ul class="collection">
{{#each lessons}}
 
    <li class="collection-item avatar">
        <video class="" style="width: 300px"class=" responsive-video" preload="metadata">
        <source src="{{{downloadURL}}}" type="video/mp4">
      </video>
      <br>
      <span class="title">{{{name}}}</span>
      <p>{{{uploaded_at}}} <br>
         
<a href="/{{{BySchool}}}/{{{InClass}}}/{{{code}}}/view_lesson"class="waves-effect waves-light btn">Watch</a>
      </p> 
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    
{{/each}}
 </ul>
</div>




       {{/if}}

       
         {{#if user}}
  <div class="container">
    <div class="section">


       <ul id="slide-out" class="sidenav">
    <li><div class="user-view">

      <a href="#name"><span class="white-text name"></span></a>
      <a href="#email"><span class="teal-text email">{{user.email}}</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">add</i>Create School</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">profile</a></li>
    <li><a class="waves-effect" href="#!">EduBirdy Profile<i class="material-icons">portrait</i></a></li>
    
  </ul>
  {{else}} 
  
<!--   Icon Section   -->
      
    </div>
    <br><br>
  </div>


  <nav>
    <div class="teal accent-4 z-depth-4 nav-wrapper">
      <a id="logo" href="#" class="brand-logo">Edubirdy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="font-weight: bold" class="grey-text text-lighten-3" href="/authenticate/log_in">Log In</a></li>
        <li><a style="font-weight: bold" class="grey-text text-lighten-3" href="/authenticate/sign_up">Sign Up</a></li>
        <li><a style="font-weight: bold" class="grey-text text-lighten-3" href="collapsible.html">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  <h1 id="logo" class="white-text center-align " style="font-weight: bold;">Edubirdy</h1>
  <h5 class="white-text center-align" style="font-weight: bold;">Want money? Have something to teach?</h5>
  <a id="join_button" href="authenticate/sign_up" style="font-weight: bold;"class=" black-text center-align btn-large pulse teal accent-3 ">Join Edubirdy!</a>


        <footer class="teal accent-4 z-depth-4 page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 style="font-weight: bold;" id="logo" class="white-text">EduBirdy</h5>
                <p class="grey-text "></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navigate</h5>
                <ul>
                  <li><a  style="font-weight: bold;" class="grey-text text-lighten-3" href="/edubirdie/contact">Contact</a></li>
                  <li><a  style="font-weight: bold;" class="grey-text text-lighten-3" href="#!">Help</a></li>
                  <li><a  style="font-weight: bold;" class="grey-text text-lighten-3" href="/authenticate/log_in">Log in</a></li>
                  <li><a  style="font-weight: bold;" class="grey-text text-lighten-3" href="#!">Terms Of Service</a></li>
                  <li><a  style="font-weight: bold;" class="grey-text text-lighten-3" href="#!">Sign Up</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
          
            </div>
          </div>
        </footer>
            
<style>
  #join_button {
     margin-left: 46%;
     margin-top: 40px;
    border-radius: 20px;
  }
  .page-footer {
    margin-top: 30%;
  }

  html {
    background-image: url(https://wallpapersite.com/images/wallpapers/blur-background-3840x2160-spectrum-electromagnetic-4k-901.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
</style>
  {{/if}}

 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.slider').slider();
      });
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
  });

  // Or with jQuery


  </script>
 
  



             <!--JavaScript at end of body for optimized loading-->
  
   
   <script>   
  
    $(document).ready(function() {
        $('.tabs').tabs()
    })
  
    </script>
  
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>

    </body>
</html>